@model ProjeCV.Models.Sinif.Class1
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>KONFERANSLAR</th>
            <th>İŞLEMLER</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model.Deger6)
        {
        <tr>
            <td>@x.ID</td>
            <td>@x.AWARD</td>
            <td>
                @Html.ActionLink("Sil Butonu", "Sil", new { id = x.ID }, new { @class = "btn btn-warning", onclick = "return confirm('Silmek İstiyormusunuz?')" })
                <a href="/Konferanslar/Güncelle/@x.ID" class="btn btn-success">Güncelle</a>
            </td>
            
        </tr>
        }

    </tbody>
</table>
<a href="/Konferanslar/YeniKonferans/" class="btn btn-info">Yeni Konferans Ekle</a>